/* Footer styles */
.site-footer {
    background: linear-gradient(135deg, #0f5952, #07302c);
    color: #fff;
    padding: 20px 0; 
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Title styles with underline effect */
.footer-title {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.footer-title::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #4CAF50;
    margin: 8px auto 0;
}

/* Footer content with shadow */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* Footer links aligned to the left */
.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
    display: flex;
    align-items: center;
    transition: transform 0.2s;
}

.footer-links a:hover {
    color: #4CAF50;
    transform: translateX(20px);
}

.footer-links a::before {
    content: "→ ";
    color: #4CAF50;
    transition: color 0.3s;
}

/* hover scale effect for social */
.footer-social {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.footer-social a {
    margin: 0 20px;
    transition: transform 0.2s ease-in-out;
}

.footer-social a:hover {
    transform: scale(1.2);
}

/* Social logo styles */
.social-logo {
    width: 50px;
    height: auto;
}

.footer-social a:hover .social-logo {
    filter: brightness(0.8);
}

/* Footer contact styles with padding */
.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

.footer-contact a {
    color: #fff;
    text-decoration: none;
    margin: 15px 0;
    transition: transform 0.2s;
}

.footer-contact a::before {
    content: "→ ";
    color: #4CAF50;
    transition: color 0.3s;
}

.footer-contact a:hover {
    color: #4CAF50;
    transform: translateX(20px);
}

/* Copyright text styling */
.copyright {
    font-size: 13px;
    color: #a9a9a9;
    margin: 0;
    margin-top: 15px;
}

/* Wrapper for copyright and button */
.footer-bottom {
    margin-top: 20px; 
    text-align: center; 
    padding: 10px 0; 
    border-top: 1px solid rgba(255, 255, 255, 0.3); 
}

/* back-to-top button */
.back-to-top {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 15px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #3e8e41;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.back-to-top:hover {
    background-color: #45a049;
    border-color: #388e3c;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.back-to-top:active {
    background-color: #3c8e3f;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}



/* Main content styles */
.main-content {
    min-height: calc(100vh - 80px);
    padding: 20px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Body styles to prevent overlap */
body {
    margin: 0;
    padding-bottom: 0px;
    display: 20px;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

/* Footer responsiveness for mobile*/
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-social {
        margin-top: 15px;
    }
}