* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.tabs {
    display: flex;
    background-color: #333;
}

.tab {
    flex: 1;
    padding: 14px;
    text-align: center;
    color: white;
    cursor: pointer;
    border: 1px solid #333;
}

.tab:hover {
    background-color: #575757;
}

.tab-content {
    text-wrap-mode: auto;
    display: none;
    padding: 20px;
    border-top: 1px solid #333;
}

.active {
    display: block;
}

.information{
    float: left;
    width: 50%;
    padding: 10px;
    min-height: 200px;
    min-width: 50%;
    max-height: 500px;
    border: 1px solid #ece5e5;
    overflow:auto;
}
.TitleInfo {
    text-align: center;
}
.information h2 {
    top: 0;
    display: inline-block;
    padding: 10px;
    margin: 0;
    position: sticky;
    z-index: 1;
}
.SocialMedia{
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.SocialMedia a {
    text-decoration: none; /* Removes the underline */
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    max-width: 300px;
    color: #303030;
    transition: color 0.5s ease; 
}
.SocialMedia a:hover {
    color: #000;
}
.SocialMedia div {
    display: flex;
    align-items: center;
    max-height: fit-content;
    white-space: normal;
    flex-grow: 1;
}
.SocialMedia img {
    padding-top: 5px;
    align-content: center;
    margin-right: 12px;
    width: 100px;
}
.SocialMedia a:hover img {
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
    transition: transform 0.5s ease;
}
.SocialMedia .facebook{
    border-radius: 60px;
    background: linear-gradient(to right, #3b83e7, #ece5e5);
}
.SocialMedia .instagram{
    border-radius: 30px;
    background: linear-gradient(to right, #5560c4,#be469e,#f5b861);
}
.Team{
    float: right;
    width: 50%;
    padding: 10px;
    height: fit-content;
    min-height: 200px;
    border: 1px solid #ece5e5;
}
.Team .membersBox{
    display: flex;
    flex-flow: row wrap;
}
.Team h2{
    text-align: center;
}
.Team .membersBox .member{
    padding-right: 30px;
    padding-bottom: 120px;
    display: grid;
    min-width: 100px;
    width: fit-content;
    max-height: 100px;
    height: fit-content;
}
.Team p{
    align-content: center;
}
.Team img{
    max-width: 100px;
    width: auto;
    max-height: 100px;
    height: auto;
}