@media screen and (min-width:1100px){
    #page_content{
        align-items: flex-start;
        display: flex; 
        justify-content: space-between;   
    }

    #donate_about,#donate_buttons{
        height: 100%;
        width: 48%;
    }

    /*This ensures the background area stretches to the preview img size*/
    #donate_buttons{
        height: fit-content;
    }

    #zelle_preview{
        height: auto;
        max-width: 96%;
    }
}

@media screen and (max-width:1099px){
    #donate_about,#donate_buttons{
        height: fit-content;
        margin:1%;
    }

    #zelle_preview{
        max-width: 96%;
    }
}

/*The entire body*/
    #page_content{
        font-size: 140%;
        height: 100%;
        padding: 10px;
    }
/*This is the background and border of the info box and the donate section*/
    #donate_about,#donate_buttons{
        color:white;
        border: solid;
        background-color: #333;
        padding: 0.5%;
        display:block;
        border-radius: 10px;
        border-color: #4b4b4b;
    }

/*Preview of the file to be submitted*/
    #zelle_preview{
        padding: 2%;
        display: none;
        position: relative;
        overflow:hidden;
    }

/*This edits the html (ex. button) values 
set up in the header file in the specific regions*/
    #donate_about button, #donate_buttons button{
        position: relative;
        padding: 2%;
        top:1%;
        border-radius: 10px;
    }

    #donate_about textarea{
        height:50%;
        width: 100%;
        max-width: 100%; 
        max-height: 100%;
        padding: 1%;
        font-size-adjust: inherit;
        border: black 3px solid;
        border-radius: 10px;
        field-sizing: content;

    }

    #donate_buttons b{
        vertical-align: super;
    }


/*This is the textbox for the URL of the donate page*/
    #paypalURL{
        height:3%;
        width: 100%;
        border: black 3px solid;
        border-radius: 10px;
        margin-bottom: 1%;
        margin-top: 1%;
        padding: 2%;

    }
    
/*This is the Zelle file upload*/
    #zelleSubmit{
        position: relative;
        padding: 1%;
    }

    #zelleSubmit::-webkit-file-upload-button{
        padding:4%;
        cursor: pointer;
    } 

    #zelleSubmitImg{
        font-size: large;
    } 

