@media screen and (max-width:400px){
    #log_out{
        min-height:50px;
        white-space: nowrap;
    }
    #background_and_title{
        margin-top:30px;
    }
}

@media screen and (max-width:1099px) and (min-width:401px){
    #log_out{
        white-space: nowrap;
        min-height:20%;
        min-width:70px;

    }
    #update_image_visual_text{
        white-space: nowrap;
    }
    #background_and_title{
        margin-top:30px;
    }
}

/*These will affect every page that it's imported to.*/
* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: white;
    margin:0;
    padding: 0;
}

button:not(.deleteAnnouncementBtn) {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #0f5952;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #157269;
}

label{
    margin-bottom: 5px;
}

h2{
    text-align: center;
}

/*-------------------Dark Mode------------------------ */
.dark-mode {
    background-color: rgb(102 102 104);
  }

#darkModeToggle{
    font-size: x-large;

    color:black;
    background-color: unset;
    
    margin-top: 8px;
    padding: 0%;
    margin-left: 10px;
    
    position: absolute;
    left:0%;
    top:0%;
}



/*-------------------Update Image------------------------ */
/*This changes the size of the upload container to be smaller 
when screen size is larger then 1100px (like laptops)*/
@media screen and (min-width:1100px){
    #upload-container{
        width: 30%;
    }
}

#background_and_title{
    display: flex;
    align-items: center;
    justify-content: center;
}

#update_image_visual_text{
    margin:10px;
    margin-bottom: 0px;
}

#background-upload-container {    
    top: 10px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

#logoChange{
    display:flex;
    justify-content: center;
    padding: 10px 0px;
}

#imagePreview {
    max-height: 150px;
    border-radius: 8px;
    margin: auto;
    margin-top:15px;
}

/* Upload Status Styling */
#uploadStatus {
    margin-top: 10px;
    font-size: 14px;
    color: green;
}

/*-------------------Header Tabs------------------------ */
#tabs_container{
    display: flex;
    background-color: #0f5952;
    width: 100%; 
    justify-content: center; 
}

.tab {
    flex: 1;
    padding: 14px;
    text-align: center;
    color: white;
    cursor: pointer;
    border: 1px solid #0f5952;
    transition: background-color 0.3s ease;
    text-decoration:none;
}

.tab:hover {
    background-color: #157269;
    color: white;
    text-decoration: none;
}

/*-------------------The Toggle switches------------------------ */
.toggle{
    -webkit-appearance: none;
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 25px;
    background-color:red;
    cursor: pointer;
}

.toggle:checked{
    background-color:green;
}

.toggle::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: white;
    transition: left .3s;
}

.toggle:checked::after {
    left: 70%;
}