/* --------------------General HTML------------------ */

h3 {
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px solid #0f5952;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/project-musjid.firebasestorage.app/o/FrontImage.png?alt=media&token=30e372c1-b736-4544-afb9-481dd73e5063'); /* Use your backdrop image URL */
    background-size: cover;
    background-position: center;
    height: 160px; /* header space */
    position: relative;
}
/*transparent backdrop*/
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5); /* Grey with 50% opacity */
    z-index: 0; 
}
.header a img {
    position: relative;
    z-index: 1; /* Ensures the logo appears on top */
    transition: transform 0.3s ease; 
}

.header a img:hover {
    transform: scale(1.1); /* Scale up the logo on hover */
}

.Webpage-Tab-Title {
    padding-top: 20px;
    text-align: center;
}

/*-------------------Header Tabs------------------------ */
.tabs {
    display: flex;
    background-color: #0f5952;
}

/* Home, About, Event, Donate Tabs */

.tab {
    flex: 1;
    padding: 14px;
    text-align: center;
    color: white;
    cursor: pointer;
    border: 1px solid #0f5952;
}

.tab:hover {
    background-color: #157269;
    color: white;
    text-decoration: none;
}

.tab-content {
    text-wrap-mode: auto;
    display: none;
    padding: 20px;
    border-top: 1px solid #0f5952;
}

/*---------------Background---------------*/
body { 
    background-image: url("https://firebasestorage.googleapis.com/v0/b/project-musjid.firebasestorage.app/o/Back.jpg?alt=media&token=3557bb0e-c2b9-46a6-8765-632e8492a7de");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
