

/*This holds the prayer times, carasol, and announcement box*/
.first-row{
    align-items: flex-start;

    display: flex; 
    padding: 15px;
}

.first-row div{
    padding: 5px;
    padding-top: 0px;
}

/*Quote*/
#quote{
    position:relative;
    align-items: flex-start;
    left:25%;
    max-width: 50%;
    padding: 15px;
    margin-top: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
/*---------------Prayer time box specifically---------------*/

.box{
    background-color: whitesmoke;
    width: 300px;
}

.box p{
    text-align: left;
}
.box span{
    float: right;
}

.box u{
    text-align: center;
}

#prayerTitle{
    padding-bottom: 20px;
}

#prayers_times{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: small;
    margin: 3%;
    padding:3%;
    position: relative;
    /*left: 20%;*/
    height: auto;
}

/*---------------Middle of page picture carousel---------------*/

.carouselExampleIndicators{
    display: flex; 
    justify-content: center;
}
.carousel-inner>.item {
    width: 100%;

}

#img{
    height: 500px;
    width: 700px !important;
}
/*---------------Announcement box---------------*/

.Announce{
    width: 25%;
    margin-left:3%;
    margin-right: 20px;
    height: fit-content;
    min-height: 200px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.Announce .announcementBox{
    display: flex;
    flex-flow: column wrap;
}

.announcementBox{
    margin-left: auto;
    order: 2;
}

.Announce .announcementBox .announcement{
    padding-bottom: 120px;
    display: grid;
    min-width: 100px;
    width: 100%;
    max-height: 100px;
    height: fit-content;

}

.Announce h1{
    padding: 3%;
    text-decoration: underline;
}

.Announce h2{
    text-align: center;
}


.Announce announBox{
    width: 90%;
    height: 100px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*---------------Map---------------*/
#map{
    height: 500px;
    width: 500px;
}
.mapChange b{
    font-size:2vw;
}
